# Auto gen SKR config file
# The keyboard that skr will intercept
#KeyboardPath -> /dev/input/by-id/usb-DavRack_Atreus50_0-event-kbd
KeyboardName -> DavRack Atreus50

# Get a config examples and source code at:
#   https://github.com/davrack/skr

# Cambiar a HDMI (linux)
F8 -> Script=ddcutil -b 4 setvcp 60 0x05
# Cambiar a DP (Windows)
F9 -> Script=ddcutil -b 4 setvcp 60 0x0f

# bajar brillo
F2 -> Script=ddcutil -b 4 setvcp 10 30;ddcutil -b 6 setvcp 10 30
F3 -> Script=ddcutil -b 4 setvcp 10 70;ddcutil -b 6 setvcp 10 70
F4 -> Script=ddcutil -b 4 setvcp 10 100;ddcutil -b 6 setvcp 10 100

