# # is a comment
KeyboardPath->/dev/input/event3

# remap Tab to Esc
TAB -> ESC

# swap gui with alt
META <-> ALT

# definir una nueva capa usando la tecla de funcion capsLock
NewLayer->CapsLock
    
    SPACE -> TAB

    H -> LEFT
    J -> DOWN
    K -> UP
    L -> RIGHT

    T -> Script=st

    LEFTCTRL -> LEFTCTRL
    RIGHTCTRL -> RIGHTCTRL
    LEFTSHIFT -> LEFTSHIFT
    RIGHTSHIFT -> RIGHTSHIFT
    LEFTALT -> LEFTALT
    RIGHTALT -> RIGHTALT
