! fuente de letra 
URxvt.font: xft:DejaVu sans mono:size=10
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=12:weight=bold

!! Larger history limit
urxvt.saveLines: 1000000


! desactivar scroll bar
URxvt.scrollBar: false

! desactivar bordes
URxvt.internalBorder: 3

! desactivar iso
URxvt* iso14755: False

! special
*.foreground:   #e0e4ea
*.background:   #222327
*.cursorColor:  #e0e4ea

! black
*.color0:       #1e2127
*.color8:       #5c6370

! red
*.color1:       #e03c48
*.color9:       #e03c48

! green
*.color2:       #77c340
*.color10:      #77c340

! yellow
*.color3:       #d88e49
*.color11:      #d88e49

! blue
*.color4:       #3186ef
*.color12:      #3186ef

! magenta
*.color5:       #bc4edd
*.color13:      #bc4edd

! cyan
*.color6:       #3fb3c2
*.color14:      #3fb3c2

! white
*.color7:       #abb2bf
*.color15:      #ffffff


!! Perl extensions
URxvt.perl-ext-common: default,matcher,font-size,clipboard,keyboard-select,url-select
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

! Clipboard
	URxvt.keysym.M-c:   perl:clipboard:copy
	URxvt.keysym.M-v:   perl:clipboard:paste
	URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
