! fuente de letra 
URxvt.font: xft:DejaVu sans mono:size=12
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=14:weight=bold

!! Larger history limit
urxvt.saveLines: 1000000


! desactivar scroll bar
URxvt.scrollBar: false

! desactivar bordes
URxvt.internalBorder: 20
URxvt.externalBorder: 20

! desactivar iso

! special
*.foreground:   #f1f1f1
*.background:   #252424
*.cursorColor:  #f1f1f1

! black
*.color0:       #555555
*.color8:       #888888

! red
*.color1:       #cd2712
*.color9:       #d63420

! green
*.color2:       #68ca40
*.color10:      #79df4a

! yellow
*.color3:       #fcb939
*.color11:      #fdd75a

! blue
*.color4:       #1087da
*.color12:      #2590db

! magenta
*.color5:       #c23385
*.color13:      #e65dac

! cyan
*.color6:       #0cd5f0
*.color14:      #3fe0f6

! white
*.color7:       #a2a2a2
*.color15:      #f9f9f9



!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size,clipboard,keyboard-select,url-select
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

! Clipboard
	URxvt.keysym.M-c:   perl:clipboard:copy
	URxvt.keysym.M-v:   perl:clipboard:paste
	URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
