# Auto gen SKR config file
# The keyboard that skr will intercept
KeyboardPath -> /dev/input/by-id/usb-ASUSTeK_Computer_Inc._N-KEY_Device-event-kbd
SUPER <-> ALT

TAB -> ESC
SYSRQ->keycode(86)

NewLayer -> CapsLock
    SPACE -> TAB
    H -> LEFT
    J -> DOWN
    K -> UP
    L -> RIGHT

    shift -> shift
# Get a config examples and source code at:
#   https://github.com/davrack/skr
