# Auto gen SKR config file
# The keyboard that skr will intercept
KeyboardPath -> /dev/input/event3

SUPER <-> ALT

TAB -> ESC
SYSRQ->keycode(86)

NewLayer -> CapsLock
    SPACE -> TAB
    H -> LEFT
    J -> DOWN
    K -> UP
    L -> RIGHT

    M -> keycode(86)
    keycode(51) => KEY(KEYSTATE:PRESS)=shift
                => keycode(86)
                => KEY(KEYSTATE:RELEASE)=shift
    shift -> shift

# Get a config examples and source code at:
#   https://github.com/davrack/skr
